.policy-detail-container {
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    border: 5px solid #1A3599;
    height: 100%;
    width: 80%;
    margin-left: 2em;
    margin-top: 1em;

}
.policy-const {
    display:flex;
    font-weight:bold;
    font-size:16px;
    justify-content: space-between
}
.policy-edit {
    display:flex;
    flex-direction: column;
    align-items: center;
}
input[type="submit"] {
    border-radius: 2px;
    background-color: #807809;
    color: white;
    font-size:14px;
    font-weight:bold;
    letter-spacing:0.5px;
    padding:8px;
    cursor: pointer;
}