.search-container {
    display:flex;
    margin-bottom: 2em;
    justify-content: center;
    margin-top: 1em;
}
.search-container label {
    transform: translate(-2px,5px);
    font-weight:bold;
    text-decoration: double;
}
.search-container input {
    padding: 0.8em;
    transform: translateX(5px);
    margin-left: 5px;
}
.search-button {
    padding:8px;
    width: 8em;
    background-color: #807809;
    color: white;
    font-weight: bold;
    font-size:14px;
    letter-spacing:0.5px;
    cursor: pointer;
    transform: translateX(5px);
    margin-left: 2px;

}
@media only screen and (max-width: 600px) {
    .search-container {
        flex-direction: column;
        align-items:center;
    }
    .search-container input  {
        padding:3px;
        margin: 5px;
        width:20em;
    }
    select {
        margin: 5px;
        width:20em;
    }
    .search-button {
        padding: 4px;
        width:6em;
    }
  }
