.search-container {
    display:flex;
    justify-content:space-around;
    margin-bottom: 2em;
    margin-top: 1em;

}
.search-container input {
    padding: 6px;
}
.search-button {
    padding:8px;
    width: 8em;
    background-color: #807809;
    color: white;
    font-weight: bold;
    font-size:14px;
    letter-spacing:0.5px;
    cursor: pointer;
}
